<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>校园派 - 活动列表</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/activity-list.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/theme.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title">{{typeName}}</div>
    <div class="header-search">
      <i class="el-icon-search"></i>
    </div>
  </div>
  <div class="sort-bar">
    <div class="sort-item">
      <el-dropdown trigger="click" @command="handleCommand">
      <span class="el-dropdown-link">
        {{typeName}}<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-for="t in types" :key="t.id" :command="t">
            {{t.name}}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div class="activity-list" @scroll="onScroll">
    <div class="activity-box" v-for="s in activities" :key="s.id" @click="toDetail(s.id)">
      <div class="activity-img"><img :src="s.images" alt=""></div>
      <div class="activity-info">
        <div class="activity-title activity-item">{{s.name}}</div>
        <div class="activity-area activity-item">
          <span>{{s.area}}</span>
        </div>
        <div class="activity-avg activity-item">{{s.avgPrice > 0 ? '报名费 ¥' + s.avgPrice : '免费参加'}}</div>
        <div class="activity-address activity-item">
          <i class="el-icon-map-location"></i>
          <span>{{s.address}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      isReachBottom: false,
      types: [], // 类型列表
      activities: [], // 活动列表
      typeName: "",
      params:{
        typeId: 0,
        current: 1
      }
    },
    created() {
      // 获取参数
      this.params.typeId = util.getUrlParam("type");
      this.typeName = util.getUrlParam("name");
      // 查询类型
      this.queryTypes();
      // 查询活动
      this.queryActivities();
    },
    methods: {
      queryTypes() {
        axios.get("/activity-category/list")
          .then(({data}) => {
            this.types = data;
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      queryActivities(reset) {
        if (reset) {
          this.activities = [];
          this.params.current = 1;
        }
        axios.get("/activity/by-category", {
            params: this.params
          })
          .then(({data}) => {
            if (!data) {
              return
            }
            data.forEach(s => s.images = s.images.split(',')[0]);
            this.activities = this.activities.concat(data);
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      handleCommand(t) {
        location.href = "/activity-list.html?type="+t.id+"&name="+t.name;
      },
      goBack() {
        history.back();
      },
      toDetail(id) {
        location.href = "/activity-detail.html?id="+id
      },
      onScroll(e) {
        let scrollTop = e.target.scrollTop;
        let offsetHeight = e.target.offsetHeight;
        let scrollHeight = e.target.scrollHeight;
        if(scrollTop + offsetHeight + 1 > scrollHeight && !this.isReachBottom){
          this.isReachBottom = true
          console.log("触底")
          this.params.current++
          this.queryActivities(this.params.current, 5);
        }else{
          this.isReachBottom = false
        }
      },
    }
  })
</script>
</body>
</html>
