<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>校园派 - 编辑资料</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/info.css" rel="stylesheet">
  <link href="./css/theme.css" rel="stylesheet">

  <style type="text/css">
    .edit-input { width: 210px; border: none; text-align: right; font-size: 14px; outline: none; background: transparent; }
    .save-profile { margin: 20px 15px 90px; }
  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack" ><i class="el-icon-arrow-left"></i></div>
    <div class="header-title">资料编辑&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div class="edit-container">
    <div class="info-box">
      <div class="info-item">
        <div class="info-label">头像</div>
        <div class="info-btn">
          <img width="35" :src="user.icon || '/imgs/icons/default-icon.png'" alt="">
          <div><i class="el-icon-arrow-right"></i></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">昵称</div>
        <div class="info-btn">
          <input class="edit-input" v-model.trim="user.nickName" maxlength="32" placeholder="请输入昵称">
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">个人介绍</div>
        <div class="info-btn">
          <input class="edit-input" v-model.trim="info.introduce" maxlength="128" placeholder="介绍一下自己">
        </div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-item">
        <div class="info-label">性别</div>
        <div class="info-btn">
          <select class="edit-input" v-model="info.gender"><option :value="false">男</option><option :value="true">女</option></select>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">学校</div>
        <div class="info-btn">
          <input class="edit-input" v-model.trim="info.city" maxlength="64" placeholder="请输入学校">
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">生日</div>
        <div class="info-btn">
          <input class="edit-input" type="date" v-model="info.birthday">
        </div>
      </div>
    </div>

    <div class="info-box">
      <div class="info-item">
        <div class="info-label">我的积分</div>
        <div class="info-btn">
          <div>查看积分</div>
          <div><i class="el-icon-arrow-right"></i></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">校园等级</div>
        <div class="info-btn">
          <div><a href="javascript:void(0)">成为校园达人</a></div>
          <div><i class="el-icon-arrow-right"></i></div>
        </div>
      </div>
    </div>
    <div class="save-profile"><el-button type="primary" style="width:100%" :loading="saving" @click="saveProfile">保存资料</el-button></div>
  </div>
  <foot-bar :active-btn="4"></foot-bar>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script src="./js/footer.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      user: "",
      info: {},
      saving: false,
    },
    created() {
      this.checkLogin();
    },
    methods: {
      checkLogin() {
        // 查询用户信息
        axios.get("/user/me")
        .then(({data}) => {
          this.user = data;
          this.info = JSON.parse(sessionStorage.getItem("userInfo")) || {}
        })
        .catch(err => {
          this.$message.error(err);
          setTimeout(() => location.href = "login.html", 1000)
        })
      },
      saveProfile(){
        this.saving = true;
        axios.put('/user/profile', {
          nickName: this.user.nickName, icon: this.user.icon,
          city: this.info.city, introduce: this.info.introduce,
          gender: this.info.gender, birthday: this.info.birthday || null
        }).then(()=>{
          sessionStorage.setItem('userInfo', JSON.stringify(this.info));
          this.$message.success('资料保存成功');
        }).catch(this.$message.error).finally(()=>this.saving=false)
      },
      goBack(){
        history.back();
      }
    },

  })
</script>
</body>
</html>
