<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>校园派 - 发布动态</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/post-edit.css" rel="stylesheet">
  <link href="./css/theme.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-cancel-btn" @click="goBack">取消</div>
    <div class="header-title">&nbsp;&nbsp;发布校园动态<i class="el-icon-info"></i></div>
    <div class="header-commit">
      <div class="header-commit-btn" @click="submitPost">发布</div>
    </div>
  </div>
  <div class="upload-box">
    <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display: none">
    <div class="upload-btn" @click="openFileDialog">
      <i class="el-icon-camera"></i>
      <div style="font-size: 12px;line-height: 12px">上传照片</div>
    </div>
    <div class="pic-list">
      <div class="pic-box" v-for="(f,i) in fileList" :key="i">
        <img :src="f" alt="">
        <i class="el-icon-close" @click="deletePic(i)"></i>
      </div>
    </div>
  </div>
  <div class="post-title">
    <input v-model="params.title" type="text" placeholder="给你的校园故事起个标题吧">
  </div>
  <div class="post-content">
    <textarea v-model="params.content" placeholder="分享活动体验、校园见闻，或者推荐一个宝藏场馆吧"></textarea>
  </div>
  <div class="divider"></div>
  <div class="post-activity" @click="showDialog=true">
    <div class="activity-left">关联活动/场馆</div>
    <div v-if="selectedActivity.name">{{selectedActivity.name}}</div>
      <div v-else>选择活动&nbsp;<i class="el-icon-arrow-right"></i></div>
  </div>
  <div class="mask" v-show="showDialog" @click="showDialog=false"></div>

  <transition name="el-zoom-in-bottom">
    <div class="activity-dialog" v-show="showDialog">
      <div class="post-activity">
        <div class="activity-left">关联活动/场馆</div>
      </div>
      <div class="search-bar">
        <div class="city-select">本校 <i class="el-icon-arrow-down"></i></div>
        <div class="search-input">
          <i class="el-icon-search" @click="queryActivities"></i>
          <input v-model="activityName" type="text" placeholder="搜索活动、场馆或社团">
        </div>
      </div>
      <div class="activity-list">
        <div v-for="s in activities" class="activity-item" @click="selectActivity(s)">
          <div class="activity-name">{{s.name}}</div>
          <div>{{s.area}}</div>
        </div>
      </div>
    </div>
  </transition>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script src="./js/footer.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data() {
      return {
        util,
        fileList: [], // 文件列表
        params: {},
        showDialog: false, //
        activities: [], // 活动信息
        activityName: "", //活动名称
        selectedActivity: {}, // 选中的活动
      }
    },
    created() {
      this.checkLogin();
      this.queryActivities();
    },
    methods: {
      queryActivities() {
        axios.get("/activity/search?name=" + encodeURIComponent(this.activityName || ""))
          .then(({data}) => this.activities = data)
          .catch(this.$message.error)
      },
      selectActivity(s) {
        this.selectedActivity = s;
        this.showDialog = false;
      },
      submitPost() {
        let {...data} = this.params;
        data.images = this.fileList.join(",");
        data.activityId = this.selectedActivity.id;
        axios.post("/post", data)
          .then(resp => location.href = "/info.html")
          .catch(this.$message.error)
      },
      openFileDialog() {
        this.$refs.fileInput.click();
      },
      fileSelected() {
        let file = this.$refs.fileInput.files[0];
        let formData = new FormData();
        formData.append("file", file);
        const config = {
          headers: {"Content-Type": "multipart/form-data;boundary=" + new Date().getTime()}
        };
        axios
          .post("/upload/post", formData, config)
          .then(({data}) => this.fileList.push('/imgs' + data))
          .catch(this.$message.error);
      },
      deletePic(i) {
        const imageName = this.fileList[i].replace(/^\/imgs\//, '');
        axios.delete("/upload/post?name=" + encodeURIComponent(imageName))
          .then(() => this.fileList.splice(i, 1))
          .catch(this.$message.error)
      },
      checkLogin() {
        // 获取token
        let token = sessionStorage.getItem("token");
        if (!token) {
          location.href = "login.html"
        }
        // 查询用户信息
        axios.get("/user/me")
          .then()
          .catch(err => {
            this.$message.error(err);
            setTimeout(() => location.href = "login.html", 200)
          })
      },
      goBack() {
        history.back();
      },
      handleRemove(file) {
        console.log(file);
      }
    },

  })
</script>
</body>
</html>
