
.header,.sort-bar,.activity-list {
    background-color: #fff;
}
#app{
    background-color: #f1f1f1;
}
.header{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--campus-primary);
}
.header-back-btn{
    width: 10%;
    color: var(--campus-primary);
    font-size: 24px;
    font-weight: bold;
}
.header-title {
    width: 80%;
    text-align: center;
    font-size: 18px;
    font-family: Hiragino Sans GB,Arial,Helvetica,"\5B8B\4F53",sans-serif;
}
.header-search {
    width: 10%;
    text-align: center;
    font-size: 18px;
    color: var(--campus-primary);
}
.el-dropdown,.el-dropdown-menu__item {
    font-size: 12px;
    line-height: 20px;
}
.sort-bar {
    display: flex;
    justify-content: space-around;
    height: 6%;
    align-items: center;
    margin-bottom: 5px;
}
.sort-item {
    width: 20%;
    text-align: center;
    font-size: 12px;
}
.activity-list{
    height: 87%;
    background-color: #f1f1f1;
    overflow-y: auto;
}
.activity-box {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fff;
}
.activity-img {
    text-align: center;
    padding: 5px;
}
.activity-img img{
    width: 95px;
    height: 95px;
    border-radius: 5px;
}
.activity-info {
    width: 65%;
}
.activity-title {
    font-weight: bold;
    font-size: 14px;
}
.activity-rate {
    display: flex;
    justify-content: space-between;
}

.activity-area {
    color: #6f6f71;
    display: flex;
    justify-content: space-between;
}
.activity-item {
    line-height: 20px;
    align-items: center;
}
.activity-address{
    display: flex;
}
.activity-address i{
    color: #6c6767;
}
.activity-address span{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}